<div class="bg-surface flex flex-col gap-2 p-4 sm:rounded-lg sm:p-6">
  <!-- Company and Tags -->
  <div class="flex flex-row items-center justify-between">
    <p class="font-mono">{{ company }}</p>
    <div class="flex flex-row gap-1">
      {% for tag in tags %}
      <div class="inline-flex items-center rounded-full border-2 px-2 py-1 w-fit h-fit text-xs font-bold transition-colors border-neutral-300 bg-white text-primary">
        {{ tag }}
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- Title and Description -->
  <div class="flex w-full flex-col gap-1">
    <h1 class="text-primary text-2xl font-bold">{{ title }}</h1>
    <p class="text-secondary text-base font-medium">{{ description }}</p>
  </div>
  
  <!-- Hero Image -->
  {% if heroImage %}
  <img alt="{{ title }}" width="640" height="400" decoding="async" data-nimg="1" 
       class="mt-4 h-auto w-full rounded-sm" src="{{ heroImage }}" loading="lazy">
  {% endif %}
</div>
