---
layout: layouts/case-study.njk
title: Building a better support experience for our customers
description: Reimagining the support experience and how customers interact with the company when they need help or assistance.
company: Bolt
tags: 
  - Cross-platform
heroImage: https://cdn.cosmicjs.com/eee18bf0-f9f4-11ef-ac39-13810bc526ee-Hero.png
permalink: /work/building-a-better-support-experience-for-our-customers/
passwordProtected: false
---

## Overview

As part of its transition away from the previous customer support platform, Bolt implemented an internal solution in the form of a mobile webview. This webview can easily scale to all platforms, take different forms, and is not dependent on mobile app release cycles.
