---
layout: layouts/case-study.njk
title: Building the customer support agent experience
description: Designing a customer support platform that is scalable and supports fast growth while allowing agents to increase their efficiency, productivity and quality.
company: Bolt
tags: 
  - Web
heroImage: https://cdn.cosmicjs.com/ca7606c0-f9ee-11ef-ac39-13810bc526ee-Hero.png
permalink: /work/building-the-customer-support-agent-experience/
passwordProtected: false
---

## Overview

In 2020, due to the high cost and limitations of the customer support solution in use, Bolt decided to build an in-house customer support platform that would scale better with the fast growth the company was experienced.
