---
layout: layouts/case-study.njk
title: Building the web design system
description: Defining a new way to build web products at Bolt in an efficient and scalable way.
company: Bolt
tags: 
  - Design systems
heroImage: https://cdn.cosmicjs.com/8d8cbf90-f9f5-11ef-ac39-13810bc526ee-Hero.png?rect=0,-136,5120,3471
permalink: /work/building-the-web-design-system/
passwordProtected: false
---

## Overview

In response to the many web surfaces with different appearances and behaviors, and the resources required to build them, Bolt developed a web design system that is planned to eventually expand to other platforms.
